.form {
  &-control {
    border-color: $gray-700;
  }

  &__input {
    @media (min-width: 768px) {
      width: 50% !important;
    }
  }

  &__btn {
    @media (min-width: 768px) {
      width: 25% !important;
    }
  }
}
