.form {
  &-label {
    font-size: 0.8rem !important;
  }

  &-control {
    border-color: $gray-700;
    font-size: 0.7rem !important;

    @media (min-width: 768px) {
      width: 50% !important;
    }
  }

  button {
    @media (min-width: 768px) {
      width: 25% !important;
    }
  }
}
