.product {
  &__image {
    width: 100%;

    img {
      height: 10rem;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__detail {
    &--favorite {
      top: -1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &-description {
      color: $gray-700;
    }

    &-group {
      border: 1px solid $gray-100;

      button {
        border: none;
      }
    }
  }
}

.style-module_starRatingWrap__q-lJC {
  display: flex !important;
}
