.product {
  height: 100svh;

  &__image {
    width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 10rem;
      border-radius: 1rem;
      object-fit: cover;

      @media (min-width: 768px) {
        height: 100%;
      }
    }
  }

  &__detail {
    @media (min-width: 768px) {
      width: 50%;
    }

    &--favorite {
      top: -1.2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &-description {
      color: $gray-700;
    }

    &-group {
      border: 1px solid $gray-100;

      button {
        border: none;
      }
    }
  }
}

.style-module_starRatingWrap__q-lJC {
  display: flex !important;
}
