.product {
  &__image {
    width: 100%;

    img {
      height: 10rem;
      object-fit: cover;
      border-radius: 1rem;
    }
  }

  &__detail {
    &-description {
      color: $gray-700;
    }
  }
}

.style-module_starRatingWrap__q-lJC {
  display: flex !important;
}
