.stack {
  &__logo {
    width: 50%;
    @media (min-width: 768px) {
      width: 75%;
    }
  }
  &__profile {
    width: 2rem;
    height: 2rem;
    border-radius: 8px;

    @media (min-width: 768px) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__form {
    @media (min-width: 768px) {
      position: relative;
    }
    &-mobile {
      position: absolute;
      top: 3rem;
      left: 0;
      height: 100vh;
    }

    &-input {
      background: url(../../assets/images/search.svg) no-repeat 1rem center;
      @media (min-width: 768px) {
        width: 25rem !important;
      }
    }

    &-btn {
      top: 0.8rem;
      right: 1rem;
    }
  }

  &__list {
    background-color: inherit;
    z-index: 100;
  }

  &__item {
    cursor: pointer;
    background: url(../../assets/images/insert.svg) no-repeat right center;
  }
}

.badge {
  width: 2px;
  height: 9px;
}
