.card {
  border-color: $secondary !important;

  &__img-container {
    background-color: $secondary;
    width: 50%;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-body {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &-text {
    color: $gray-700;
  }
}
