.alert {
  height: 5rem;
  top: 0.5rem;
  left: 50%;
  font-size: 0.7rem;
  transform: translateX(-50%);
  background-color: #fff !important;
  border-color: $gray-700 !important;

  @media (max-width: 768px) {
    width: 85%;
    height: 5rem;
  }

  &-dismissible {
    padding-right: 2rem !important;
  }

  &__code {
    width: 50%;
    height: 4rem;

    @media (max-width: 768px) {
      width: 75%;
    }
  }
}

.form {
  &__control {
    width: 5rem !important;
    height: 3rem;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }

    @media (max-width: 768px) {
      width: 20% !important;
      height: 2.5rem;
    }
  }

  &__buttons {
    width: 25%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
