.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #fff;

  &__link {
    font-size: 12px;
    color: $gray-700;

    &--active {
      color: $dark;
    }
  }
}
